.page-container{
  width: 78%;
}

.card{
    border: 5px solid #e99b9b !important;
    border-top-right-radius: 1em !important;
    border-top-left-radius: 1em !important;
    border-bottom-right-radius: 1em !important;
    border-bottom-left-radius: 1em !important;

  }

.prof{
    padding: 2em;
    border-radius: 12em !important;
}

.socialogo{
  width: 35px;
  cursor: pointer;
}

.linkedin{
  width: 60px;
  cursor: pointer;

}

.prof-francis{
  width: 96%;
  margin: auto;
  padding: 2em;
  border-radius: 12em !important;

}

