.banner {
  height: 50dvh;
  object-fit: cover;
  border: 3px solid #e99b9b;
}

.small-banner{
  height: 70dvh;
  object-fit: cover;
  border: 3px #e99b9b solid;
}

.slide {
  width: 85%;
  margin: auto;
}

.message-title h1 {
  color: black;
  font-size: 2.5rem;
}

h2 {
  color: #e07171;
}

.unbox-title h1 {
  color: black;
  font-size: 2rem;
}

.card{
  border: 5px solid #e99b9b !important;
}

.carousel-caption {
  color: #ffffff;
  background-color: #e07171;
  padding-bottom: 0em;
  padding-top: 0.5em;
}

.contact{
  margin-top: 4rem;
  color: #000000;
}

#contactsection {
  width: 80%;
  margin:auto;
}

.contactcontainer {
  display: flex;
  flex-direction: column;
  padding: 5%;
  border-radius: 20px;
  border: 10px solid #e99b9b;
  background-color: #f2c5c5;

}

label {
  display: block;
  color: #000000;
  font-weight: 900; 
}

input[type=text], input[type=email], textarea {
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 100%;
  font-size: medium;
  color: #e07171;
  border: 3px solid #e99b9b;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

button[type="submit"] {
  margin-right: 0.5em;
  padding: 10px 20px;
  background: #ffffff;
  color: #e07171;
  font-weight: 1000;
  font-size: 1.5em;
  border: 3px solid #e07171;
  border-radius: 10px;
  cursor: pointer;
}


button[type="reset"] {
  padding: 10px 20px;
  background: #ffffff;
  color: #e07171;
  font-weight: 1000;
  font-size: 1.5em;
  border: 3px solid #e07171;
  border-radius: 10px;
  cursor: pointer;
}