.homebanner {
  min-height: 40dvh;
  background-image: url("..\images\home\seoulful-banner4.jpg");
  /* color: #fff; */
  background-color: #362d1b;
  background-position-y: center;
  background-position-x: -50dvw;
  background-repeat: no-repeat;
  background-size: cover;
}

.homebanner .btn-primary {
  background-color: #e07171;
  margin-right: 0.5em;
  border: none;
}

.homebanner .btn-primary:hover {
  background-color: transparent #f2c5c5;
  background-image: linear-gradient(#e07171, #f2c5c5);
  margin-right: 0.5em;
  border: none;
}

.homebanner ul {
  list-style-position: inside;
  list-style: none;
  padding-left: 0.2em;
  padding-bottom: 2em;
}

.homebanner li {
  font-size: medium;
}

.banner {
  height: 50dvh;
  object-fit: cover;
  width: 50%;
}

.slide {
  width: 85%;
  margin: auto;
}

.message-title h1 {
  color: black;
  font-size: 2.5rem;
}

h2 {
  color: #e07171;
}

.unbox-title h1 {
  color: black;
  font-size: 2rem;
}

.carousel-caption {
  color: #ffffff;
  background-color: #e07171;
  padding-bottom: 0em;
  padding-top: 0.5em;
}

.contact{
  margin-top: 2rem;
}

#contactsection {
  width: 50%;
  margin:auto;
  height: 100dvh;
}

.contactcontainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: normal;
  padding: 5%;
  border-radius: 20px;
  border: 2px solid #e07171;
}

label {
  display: block;
}

input[type=text],
input[type=email],
textarea {
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 80%;
  font-size: medium;
  color: #e07171;
  border: 1px solid #e07171;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

button[type="submit"] {
  padding:
    10px 20px;
  font-size: 16px;
  background: #e07171;
  color: #ffffff;
  border: 0px;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
}


button[type="reset"] {
  padding: 10px 20px;
  font-size: 16px;
  background: #e07171;
  color: #ffffff;
  border: 0px;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
}