/* Style the images */
.product-card {
  flex: 1;
  /* Make each image flex equally within the container */
  height: 900px;
  /* Set image height to auto */
  object-fit: cover;
  /* Cover the entire image area while maintaining aspect ratio */
  border: solid lightgrey 1px;
}



/* Add a background color to the product details section */
.product-details {
  background-color: #f5f5f5;
  padding: 10px;
  width: 50%;
}

/* Style the customer reviews section */
.customer-reviews {
  margin-top: 50px;
  margin-bottom: 50px;

}

.container {
  border: solid, 10px red;
}

.review {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.review p {
  margin-top: 5px;
  margin-bottom: 0;
}

.review q {
  font-style: italic;
  font-size: 16px;
}

.description {
  padding-top: 20px;
}

.product-btn:hover {
  background-color: lightgrey;
}

.product-btn {
  position: absolute;
  /* Make button absolute relative to container */
  bottom: 50px;
  /* Position from the bottom; */
  background-color: #e07171;
  border-radius: 12px;
}


.hidden-message {
  display: none;
  /* Initially hidden */
  border: solid 2px;
  background-color: #e07171;
  border-radius: 12px;
  padding: 15px;
  position: fixed;
  /* Make it positioned relative to the viewport */
  top: 50%;
  /* Vertical centering: 50% from the top */
  left: 50%;
  /* Horizontal centering: 50% from the left */
  transform: translate(-50%, -50%);
  /* Adjust positioning based on element size */
  text-align: center;
  /* Center the text content */
}