/* Style the images */
.product-card {
  position: relative;
  /* Make each image flex equally within the container */
  height: 900px;
  /* Set image height to auto */
  object-fit: cover;
  /* Cover the entire image area while maintaining aspect ratio */
  border: solid lightgrey 1px;
}

.snack-infor {
  height: 300px;
  padding: 0.3em;
}

.snack-infor li {
  list-style-type: none;
}

/* h1 {
  font-family: "Josefin Sans";
  font-size: 3rem;
  font-weight: 900;
  color: #e99b9b;
} */

/* Add a background color to the product details section */
.product-details {
  background-color: #f5f5f5;
  padding: 10px;
  width: 50%;
}

/* Style the customer reviews section */
.customer-reviews {
  margin-top: 50px;
  margin-bottom: 50px;

}

.container {
  border: solid, 10px red;
}

.review {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.review p {
  margin-top: 5px;
  margin-bottom: 0;
}

.review q {
  font-style: italic;
  font-size: 16px;
}

.description {
  padding-top: 20px;
}

.product-btn:hover {
  background-color: #e07171;
  color: #ffffff;
}

.btn:hover {
  background-color: #e07171;
  color: #ffffff;
}

.product-btn {
  display: absolute;
  /* Make button absolute relative to container */
  bottom: 1px;
  left: 50%;
  font-weight: 500;
  background-color: #e99b9b;
  border-radius: 12px;
}


.hidden-message {
  display: none;
  /* Initially hidden */
  border: solid 2px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px;
  position: fixed;
  /* Make it positioned relative to the viewport */
  top: 50%;
  /* Vertical centering: 50% from the top */
  left: 50%;
  /* Horizontal centering: 50% from the left */
  transform: translate(-50%, -50%);
  /* Adjust positioning based on element size */
  text-align: center;
  /* Center the text content */
}
