/* universal settings */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2c5c5 !important;
}

.navbar-primary {
  background-color: #f2c5c5 !important; /* !important rule overrides the original .bg-primary property */
}

.logo {
  width: 100px;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

.btn {
  font-weight: 500;
}

.btn:hover {
  color: white;
}

nav .navbar-nav li a {
  color: #e07171 !important;
  font-weight: bold;
}

nav .navbar-nav li a:hover {
  color: white !important;
  text-decoration: underline !important;
}

.sociallogo {
  width: 30px;
  padding-right: 0.5em;
} /* banner colours */

.homebanner {
  min-height: 40dvh;
  background-image: url("images/seoulful-banner4.jpg");
  /* color: #fff; */
  background-color: #fdf5e5;
  background-position-y: center;
  background-position-x: -50dvw;
  background-repeat: no-repeat;
  background-size: cover;
}

.homebanner .btn-primary {
  background-color: #e07171;
  margin-right: 0.5em;
  border: none;
}

.homebanner .btn-primary:hover {
  background-color: transparent !6c0c1;
  background-image: linear-gradient(#e07171, #f2c5c5);
  margin-right: 0.5em;
  border: none;
}

.homebanner ul {
  list-style-position: inside;
  list-style: none;
  padding-left: 0.2em;
  padding-bottom: 2em;
}

.homebanner li {
  font-size: medium;
}
