/* universal settings */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.logo {
  width: 100px;
}

/* Navbar and footer font */
.nav-link,
.fs-6 {
  font-family: Overpass;
}

.navbar-primary {
  /* background-color: #f2c5c5 !important; !important rule overrides the original .bg-primary property */
}

nav .navbar-nav li a {
  color: #e07171 !important;
  font-weight: bold;
}

nav .navbar-nav li a:hover {
  color: white !important;
  text-decoration: underline !important;
}

.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
  /* background-color: #f2c5c5 !important; */
}


h1 {
  font-family: "Josefin Sans";
  font-size: 3rem;
  font-weight: 900;
  color: #e99b9b;
}

h6 {
  font-family: Overpass;
  font-weight: 700;
  color: #e07171;
}

.btn {
  font-weight: 500;
  /* background-color: #f2c5c5; */
}

.btn:hover {
  color: white;
}

.sociallogo {
  width: 30px;
  padding-right: 0.5em;
}

/* banner colours */

.social-logo {
  height: 10px;
}